@font-face {
  font-family: 'Lexend';
  src: url('fonts/lexend.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    width: 100%;
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;

    --background: #EEE;
    --post-background: #FFF;
    --primary-font: #000;
    --secondary-font: #676767;
}

@media(prefers-color-scheme: dark) {
    :root {
        --background: #121212;
        --post-background: #262626;
        --primary-font: #DADADA;
        --secondary-font: #A9A9A9;
    }
}

body {
    background-color: var(--background);
}

h1, h2, h3, p, span, li {
    color: var(--primary-font);
}

.navbar {
    align-items: center;
    width: min(90%, 500px);
    height: max-content;
    position: fixed;
    padding: 1rem; 
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    font-size: large;
    color: white;
  }
  
  .navbar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    border-radius: 100px;
    background: rgba(34, 34, 34, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 5px 5px 25px rgba(12, 12, 12, 0.1);
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

  }

  .navbar a {
    text-decoration: none;
    color: white;
    display: block;
  }

  .navbar a:hover {
    background-color: hsl(0, 0%, 10%);
  }

  @media only screen and (max-width: 450px) {
    .navbar {
      bottom: 30px;
      left: 0;
      right: 0;
      top: unset;
    }

    @keyframes scaleExpand {
      0% {
        transform: translateY(200%) scale(0.1);
      }
        
      80% {
        transform: translateY(0);
      }
        
      100% {
        transform: scale(1);
      }
    }
    
    @keyframes scaleCollapse {
      0% {
        transform: scale(1);
      }
      
      20% {
        transform: translateY(0);
      }
      
      100% {
        transform: translateY(200%) scale(0.1);
      }
    }
  }