@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root {
    width: 100%;
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;

    --background: #EEE;
    --post-background: #FFF;
    --primary-font: #000;
    --secondary-font: #676767;
}

@media(prefers-color-scheme: dark) {
    :root {
        --background: #111;
        --post-background: #262626;
        --primary-font: #FFF;
        --secondary-font: #A9A9A9;
    }
}

body {
    background-color: var(--background);
}

h1, h2, h3, p, span, li {
    color: var(--primary-font);
}