*::before,
*::after,
* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black; /* Orange background for the body */
}

h1 {
    color: white;
    font-size: 3rem;
}

h3 {
    color: white;
}

p {
    color: #ddd;
    font-size: 1rem;
}

.bio {
    width: 20ch;
}

.background {
    position: relative;  /* Relative to parent */
    background-color: #121212;
    width: 100%;
    height: 100vh; /* Take full viewport height */
    z-index: 1; /* Ensures it's behind overlay */
    overflow: hidden;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3; /* Overlay is above background */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.star {
	position: absolute;
	width: 2px;
	height: 2px;
	border-radius: 100px;
	background-color: white;
	left: 200px;
	top: 200px;
    z-index: 2;
}

.comet {
	transform-origin: 0% 0%;
	animation: comet 2s infinite;
}

.move {
	animation: move 2s infinite;
}

.content {
    width: min(90%, 600px);
    height: auto;
    display: flex;
    margin: 100px auto;
    justify-content: space-between;
}

.text {
    height: min-content;
}

img {
    width: auto;
    right: 0;
    height: 150px;
    border-radius: 50%;
}

@keyframes move {
	0% {
		transform: translateX(0) translateY(0);
	}
	100% {
		transform: translateX(-100px) translateY(100px);
	}
}

@keyframes comet {
	0% {
		width: 2px;
		transform: rotate(135deg);
	}
	
	50% {
		width: 141px;
		transform: translateX(0) rotate(135deg);
	}
	
	100% {
		transform: translateX(-100px) translateY(100px) rotate(135deg);
		width: 2px;
	}
}

.new-section {
    width: 100%;
    height: max-content;
    background: linear-gradient(to bottom, black, #121212); /* Set a distinct color */
    z-index: 3;
}

.title-container {
    width: min(90%, 600px);
    margin: 100px auto 25px;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.project {
    width: 80%;
    background-color: #121212;
    padding: 1rem;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 25px rgba(30, 30, 30, 0.4);
    position: relative;
    z-index: 1;
    overflow: hidden; /* Ensure pseudo-elements don't bleed outside */
}

.project::before,
.project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid white;
    border-radius: 12px;
    z-index: -1;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.project::before {
    opacity: 1; /* Default border appearance */
}

.project::after {
    opacity: 0; /* Glow is invisible by default */
}

.project:hover::after {
    opacity: 1; /* Glow becomes visible */
    filter: blur(10px); /* Glow effect */
}

.project:hover {
    cursor: pointer;
}

footer {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    text-align: center;
}

footer > p {
    font-size: 0.8rem;
}

.icon {
    fill: white;
    width: 25px;
    margin: 5px;
}

@media only screen and (max-width: 400px) {
    .background {
        height: 100svh;
    }

    .content {
        margin: 25px auto;
        flex-direction: column;
        align-items: center;
    }

    img {
        padding: 10px;
    }
}