body {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 50px;
    text-align: center;
}

h2, h3 {
    text-align: center;
}

p {
    text-align: start;
    text-indent: 30px;
    max-width: 800px;
    margin: 10px;
}

img {
    all: unset;
    border-radius: 10px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

#portrait {
    border-radius: 50%;
    width: 25px;
    margin-left: 10px;
}

.author {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
}

.author img {
    vertical-align: middle;
    display: inline-block;
}

.author-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a {
    all: unset;
    text-decoration-line: underline;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.screenshot {
    width: 500px;
    display: block;
    margin: 5px 5px 0;
}

.subscript {
    color: var(--secondary-font);
    font-size: 12px;
    text-align: center;
    margin: 5px 0 10px;
    padding: 0;
    text-indent: 0;
}

.image-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.single-image-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.references {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reference {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 10px;
}

.reference-photo {
    border-radius: 50%;
    width: 88px;
    object-fit: cover;
    display: block;
    vertical-align: middle;
}

.reference-list {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 5px;
}

@media only screen and (max-width: 400px) {
    .screenshot {
        width: 350px;
    }

    .reference-photo {
        width: 88px;
        height: 88px;
        object-fit: cover;
    }
}

@media(prefers-color-scheme: light) {
    .screenshot {
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
    }
}

